# Binaries for programs and app
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Platform env files
.env
.env.test

# Vendor files
vendor/*
node_modules/*

# IDE files
.idea

# Project plan, remove from git repo
project_requirements.txt
project_structure.txt

# Platform dependent files
.DS_Store